
h1{text-align: center; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  #r{font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  color: #4f4d4d;
  }
  
  #re{
  width: 700px;
  height: 800px;
  }
  
  a{font-size: 30px;
    font-style: italic;
    
  }
  
  p{font-size: 40px;
   font-style: italic;
   color: #4f4d4d;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  body{text-align: center;
  }
  
  header {
      padding: 10px;
      text-align: center;
      font-size: 35px;
      color: #4f4d4d;
    }

  /* media icon css*/
    .fa {
      padding: 50px;
      font-size: 30px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
    }
    
    
    .fa:hover {
        opacity: 0.7;
    }
  
  
    .flex-center{ width: 100%;
      min-height: 50vh;
  display: block;
    }
    
    .icon-3d {
     padding-bottom: 20px;
      color: black;
    }
  #tic{
  
    color: black;
    min-height: 50vh;
    padding: 50px;
    font-size:309%;
  }
  .tic-icon:hover{
    opacity: 0.7;
  }
#email{
  min-height: 50vh;
    padding: 50px;
    font-size:309%;
    color: black;
}



/*navgation bar */
  


/* photo gallary scroller*/
  div.scroll-container {
   
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
  }
  
  body {
    background: linear-gradient(to left,#E9C2C5, #fee1dd
   , #cea0aa);

  #mySidenav a {
    margin-top: 15%;
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #home {
    top: 20px;
    background-color: #A36361    ;
  }
  
  #abtMe {
    top: 80px;
    background-color:#D3A29D    ;
  }
  
  #resume {
    top: 140px;
    background-color: #e6a98a;
  }
  
  #intr {
    top: 200px;
    background-color: #E9C2C5
  }

  #cont {
    top: 260px;
    background-color: #FEE1DD
  }

  }